.button {
    align-self: center;
    background-color: #6EB602;
    border-radius: 10px;
    color: #272626;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 16px;
    width: 100px;
    border: none;
    outline: none;
    &:not(disabled):active {
      background-color: #7ece06;
    }
  }

  .button[type="submit"] {
    color: #F6F6F6;
    &:disabled {
      background-color: #5F5F5F;
      color: #272626;
      cursor: default;
    }
  }

  .button[type="reset"] {
    background-color: transparent;
    color: #5F5F5F;
    text-decoration: underline;
  }
  
  @media screen and (min-width: 1280px) {
    .button {
      width: 120px;
      font-size: 1.6rem;
    }
  }